<div id="main">
  <div class="container">
    <div fxLayout="row">
      <div class="text" style="width:100%">
        <div >
        <h1>Applicant</h1>
      </div>
        <mat-divider></mat-divider>
      <div class="management">
        <ul class="target">
          <li style="background:linear-gradient(to right,#f2685e 0,#f44336 100%);" fxFlex> 
            <a>
              <div class="content"  fxLayout="column" fxLayoutAlign="center center" fxFill>
                <div  class="managebig">1012</div>
                <div  class="managesmall"> Lead</div>
              </div>
            </a>
          </li>
          <li style="background:linear-gradient(to right,#ffd968 0,#ffc107 100%);" fxFlex>
            <a>
              <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFill> 
                <div class="managebigyellow">4</div>
                <div class="managesmall"> Refine</div>
              </div>
            </a></li>
            
          <li style="background:linear-gradient(to right,#87ad88 0,#4caf50 100%)"  fxFlex>
            <a>
              <div class="content"  fxLayout="column" fxLayoutAlign="center center" fxFill>
                <div  class="managebiggreen">1</div>
                <div  class="managesmall">Qualify</div>
              </div>
            </a></li>
          <li style="background: linear-gradient(to right,#66638c 0,#362e8e 100%)" fxFlex>
            <a>
              <div class="content"  fxLayout="column" fxLayoutAlign="center center" fxFill>
                <div  class="managebigpurple">5</div>
                <div  class="managesmall"> Prospect</div>
              </div>
            </a></li>
          <li style="background: linear-gradient(to right,#b4a7cc 0,#9575cd 100%)" fxFlex > 
            <a>
              <div class="content"  fxLayout="column" fxLayoutAlign="center center" fxFill>
                <div  class="managebig">1022</div>
                <div  class="managesmall"> Total</div>
              </div>
            </a></li>
            
        </ul>
      </div>
    </div>
    </div>
  </div>
</div>

