
a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
mat-toolbar{
    border-radius: 3px;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}
.material-icons{
padding-bottom:11px;
padding-left: 7px;
cursor:pointer;
}
img {
    height:40px;
    width:40px;
    border-radius: 50%;
    padding-right: 10px;
      }
      .size{
          padding-top: 11px;;
      }
.top{
    height:100vh;
}