
    <div id="main">
        <div class="container" style="background: wheat">
            <div class="side-navbar" fxFlex="1 1 auto" fxLayout="column" >
            i am sidebar
            </div>
            <div class="main-content"  fxLayout="column" style="overflow: hidden; width:100%;">
              <div class="content" fxFlex="1 1 auto"  >
                i am content
                
                <div class="gridmain" >
                <div class="firstgrid">
                  <div class="rowmanageone">
                    <span class="one">
                        <i class="material-icons">
                            check_circle_outline
                            </i>
                          </span>
                         <span class="overide">   <label for="file" value="File">File:</label>
                             lmnkkjjjjjjjjjjjjjjnnhhnnjh</span>
                              
                    
                   <mat-checkbox> </mat-checkbox>
                  </div>
                  <mat-divider> </mat-divider>
                  <span class="two">
                    <span>UploadFile:.xml</span>
                    <span class="twomanage"> Name:Ram</span>
                  </span>
                  <mat-divider>
                  </mat-divider>
                  <span class="three">
                    <span>User</span>
                    <span>date</span>
                  </span>
                </div>
                <div class="secondgrid">
                    <div class="rowmanageone">
                      <span class="one">
                          <i class="material-icons">
                              check_circle_outline
                              </i>
                            </span>
                           <span class=overide>   <label for="file" value="File">File:</label>
                               nnnnnhdcbujdhjkkkkkkcnhjhhhb</span>
                                
                      
                     <mat-checkbox> </mat-checkbox>
                    </div>
                    <mat-divider> </mat-divider>
                    <span class="two">
                      <span>UploadFile:.xml</span>
                      <span class="twomanage"> Name:Ram</span>
                    </span>
                    <mat-divider>
                    </mat-divider>
                    <span class="three">
                      <span>User</span>
                      <span>date</span>
                    </span>
                  </div>
                  <div class="thirdgrid">
                      <div class="rowmanageone">
                        <span class="one">
                            <i class="material-icons">
                                check_circle_outline
                                </i>
                              </span>
                             <span class="overide">   <label for="file" value="File">File:</label>
                                 abcg dddddddddddduujjj</span>
                                  
                        
                       <mat-checkbox> </mat-checkbox>
                      </div>
                      <mat-divider> </mat-divider>
                      <span class="two">
                        <span>UploadFile:.xml</span>
                        <span class="twomanage"> Name:Ram</span>
                      </span>
                      <mat-divider>
                      </mat-divider>
                      <span class="three">
                        <span>User</span>
                        <span>date</span>
                      </span>
                    </div>
                </div>
             
                </div>
                <div class="footer" fxFlex="0 0 auto" >
              i am footer
                </div>
              </div>
            
        </div>
    </div>

