
.tabcardbar{
  width:auto;
  margin:6px;
  max-height:50%;
  height:50%;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .imagemanage{
      position:relative;
      bottom:5px;
      right:5px;
  }
  .checkbox{
      left:10px;
      position:relative;
  }