<!-- main div starts here -->
<div class="main">
<!-- container begins -->
<div class="container"  fxLayout="row" >
  <!-- sidebar starts here -->
<div class="sidebar" fxLayout="column" style="margin-left:80px">
  <!-- company logo started -->
 <div class="companylogo" fxLayoutAlign="center" style="margin-bottom:60px;">
<img src="https://lh3.googleusercontent.com/pJDsUksrRhx6TiGH_LI7KkBct7xW9fEKRbcp1Wuol1cUQDA7He4tf7cG1xiQiFjmRyoV" height="70px" width="70px" alt="image chaina" style="background: white; border-radius:50%; margin-top:20px;">
 </div>
 <!-- company logo ends -->
 <!-- side-nav items started -->
 <div class="side-nav-items">
   <!-- menu items started -->
   <div class="side-menu">
<ul style="color:white; padding:2px;" >
  <div class="ghost-writing"  fxLayout="row" fxLayoutAlign="start center">
  <li fxFlex="1 0 auto" >Ghost Writing Nepal</li>
  <span> <mat-icon>keyboard_arrow_up</mat-icon></span>
</div>
<div class="books" fxLayout="row" fxLayoutAlign="start center" style="margin-left:8px;">
  <span><mat-icon>book</mat-icon></span>
  <li style="font-size:14px;" class="child">Books</li>
</div>
<div class="aboutus" fxLayout="row" fxLayoutAlign="start center"  style="margin-left:8px;">
  <span> <mat-icon>account_circle</mat-icon></span>
  <li style="font-size:14px;" class="child">About Us</li>
</div>
<div class="kunja-threter" fxLayout="row" fxLayoutAlign="start center">
  <li fxFlex="1 0 auto">Kunja Theater</li>
  <span><mat-icon>expand_more</mat-icon></span>
</div>
<div class="kunja-cafe" fxLayout="row" fxLayoutAlign="start center">
  <li fxFlex="1 0 auto">Kunja Cafe</li>
  <span><mat-icon>expand_more</mat-icon></span>
</div>
<div class="lekha-kunja" fxLayout="row" fxLayoutAlign="start center">
  <li fxFlex="1 0 auto">Lekhan Kunja</li>
  <span><mat-icon>expand_more</mat-icon></span>
</div>
</ul>
</div>
<!-- menu items ended -->
<hr style="width:220px;margin-top:50px; color:gray;background-color: gray;height:1px;border:none;">
<div class="side-social-media-icons" fxLayout="column">
<span style="margin-top:50px; font-size:14px; margin-left:10px; color:white;">Follow with us</span>
<div class="icons" fxLayout="row"  style="margin:10px;" fxLayoutGap="20px">
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-linkedin-in"></i>
    <i class="fab fa-google-plus-square"></i>
</div>
</div>

 </div>
 <!-- side-nav items started -->
</div>
<!-- sidebar ends -->
<!-- container starts here -->
<div class="main-container" fxLayout="column">
  <!-- top starts here section -->
  <div class="top" fxLayout="row">
<div class="top-left-part" fxFlex="1 0 auto" >
  <ul  fxLayout="row" fxLayoutGap="15px" >
  <li>Home</li>
  <li>About</li>
  <li>Creative Writing</li>
  <li>News/Events</li>
  <li>Press</li>
  <li>Testimonials</li>
  <li>Contact</li>
  </ul>
  </div>
  <div class="right-part" fxlayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
    <span><mat-icon>search</mat-icon></span>
    <button mat-stroked-button color="primary">Login</button>

</div>
</div>
<!-- top section ends here -->
<!-- top-middle starts here -->
<div class="middle-container" >
  <div class="middle-part">
  <div class="middle-right" fxLayoutGap="20px" fxLayout="column">
    <h1 style="font-size:32px;">Lekhan Kunja</h1>
    <p>Go Ahead is a collection of sucess stories of
      few <br>renowed Nepalese. It is written by Kamal Dhakal.It has<br>
      received tremenduous response in the market.
    </p>
  <div class="apps-detail" fxLayout="row" fxLayoutGap="15px" >
  <div class="android-app"   >
   <img src="../../assets/googlestore.png" height="50px" width="130px">
  </div>
  <div class="ios-app">
 <img src="../../assets/appstore.jpg" height="50px" width="130px">
    </div>
  </div>
  </div>
  <div class="middle-left">
    
  </div>
</div>
</div>
<!-- top-middle ends here -->
<!-- Features section -->
<div class="books" fxLayout="column" style="margin-left:60px">
  <div class="topic" style="margin-bottom: 10px;">
  <h1>Featured book</h1>
  </div>
  <div class="books-card" fxLayout="row">
    <!-- first book -->
 <div class="book-one"  style="border-radius:10%; margin-right:40px;" fxLayout="column" fxLayoutGap="10px" >
  <div class="book-cover" >
    <img src="../../assets/number.jpg" height="100px" width="100px">
  </div>
  <div class="amount" fxLayout="column"  fxLayoutGap="5px">
    <span> GO Ahead</span>
<span class="nrs">NRS 890</span>
  </div>
  <div class="card-bottom" fxLayoutAlign="center center"  style="background: green; border-radius:10%;" >
    <span style="color:white; height:35px;">Buy Now</span>
  </div>
 </div>
 <!-- second book -->
 <div class="book-one"  style="border-radius:10%; margin-right:40px;" fxLayout="column" fxLayoutGap="10px" >
    <div class="book-cover" >
      <img src="../../assets/number.jpg" height="100px" width="100px">
    </div>
    <div class="amount" fxLayout="column" fxLayoutGap="5px">
      <span> GO Ahead</span>
  <span class="nrs">NRS 890</span>
    </div>
    <div class="card-bottom" style="background: green; border-radius:10%;" fxLayoutAlign="center center">
      <span style="color:white; height:35px;">Buy Now</span>
    </div>
   </div>
   <!-- third book -->
   <div class="book-one"  style="border-radius:10%; margin-right:40px;" fxLayout="column" fxLayoutGap="10px" >
      <div class="book-cover" >
        <img src="../../assets/number.jpg" height="100px" width="100px">
      </div>
      <div class="amount" fxLayout="column" fxLayoutGap="5px">
        <span> GO Ahead</span>
    <span class="nrs">NRS 890</span>
      </div>
      <div class="card-bottom" style="background: green; border-radius:10%;" fxLayoutAlign="center center">
        <span style="color:white; height:35px;">Buy Now</span>
      </div>
     </div>
     <!-- fourth  book -->
     <div class="book-one"  style="border-radius:10%; margin-right:40px;" fxLayout="column" fxLayoutGap="10px" >
        <div class="book-cover" >
          <img src="../../assets/number.jpg" height="100px" width="100px">
        </div>
        <div class="amount" fxLayout="column"  fxLayoutGap="5px" >
          <span> GO Ahead</span>
      <span class="nrs">NRS 890</span>
        </div>
        <div class="card-bottom" style="background: green; border-radius:10%;" fxLayoutAlign="center center">
          <span style="color:white; height:35px;">Buy Now</span>
        </div>
       </div>
  </div>

</div>
</div>

</div>
<!-- container ends -->
</div>
<!-- main div ends here -->
<app-middlelekhan></app-middlelekhan>
<app-buttonlekhan></app-buttonlekhan>
