.cardcontain{
    font-size:16px;
    padding:16px !important;
}
.middlecontain{
    font-size:72px;
}
.tabcard{
    margin-right:10px;
     margin-left:20px;
     margin-bottom:10px;
     margin-top:10px;
 }
 .tabcardtitlemanage{
     padding-left:35px;
 }
 .tabcardtitlemanage1{
    padding-left:15px;
}
.tabcardtitlemanage2{
   padding-left:30px;
}
.tabcardtitlemanage3{
   padding-left:15px;
}
.border-top{
    border-top: 1px solid rgba(0,0,0,.12);
    width:100%;
    padding: 16px!important;
}