<div fxLayout="row-wrap" fxFlex>
  <mat-card class="tabcard" fxFlex>
      <mat-card-header>
          <mat-card-title>Today</mat-card-title>
          <div class="tabcardtitlemanage">
            
          </div>
      </mat-card-header>

      <mat-card-content fxLayoutAlign="center center" fxLayout="column">
          <div class="middlecontain" style="color:deepskyblue"> 25</div>
     <div class="cardcontain" style="color:rgba(0,0,0,.54)">
             DUE TASKS</div>
      
          <div fxLayout="row" fxLayoutAlign="center center" style="color:rgba(0,0,0,.54)" class="border-top">
              
              Completed:7</div>

      </mat-card-content>
  </mat-card>
  <mat-card class="tabcard" fxFlex> 

      <mat-card-header>
          <mat-card-title>Overdue</mat-card-title>
          <div class="tabcardtitlemanage1">
             
          
          </div>
      </mat-card-header>

      <mat-card-content fxLayoutAlign="center center" fxLayout="column">
          <h1 class="middlecontain" style="color:lightcoral">4</h1>
          <h1 class="cardcontain" style="color:rgba(0,0,0,.54)">TASKS</h1>

          <div fxLayout="row" fxLayoutAlign="center center" style="color:rgba(0,0,0,.54)" class="border-top">
              
              Yesterday's</div>

      </mat-card-content>
  </mat-card>
  <mat-card class="tabcard" fxFlex>

      <mat-card-header>
          <mat-card-title>Issues</mat-card-title>
          <div class="tabcardtitlemanage2">
          
          
          </div>
      </mat-card-header>

      <mat-card-content fxLayoutAlign="center center" fxLayout="column">
          <h1 class="middlecontain" style="color:yellowgreen"> 32</h1>
          <h1 class="cardcontain" style="color:rgba(0,0,0,.54)">OPEN</h1>

          <div fxLayout="row" fxLayoutAlign="center center" style="color:rgba(0,0,0,.54)" class="border-top">  
              
              Closed today:0</div>

      </mat-card-content>
  </mat-card>
  <mat-card class="tabcard" fxFlex>

      <mat-card-header>
          <mat-card-title>Features</mat-card-title>
          <div class="tabcardtitlemanage3">
             
          </div>
      </mat-card-header>

      <mat-card-content fxLayoutAlign="center center" fxLayout="column">
          <h1 class="middlecontain" style="color:grey"> 42</h1>
          <h1 class="cardcontain" style="color:rgba(0,0,0,.54)">PROPOSAL</h1>

          <div fxLayout="row" fxLayoutAlign="center center" style="color:rgba(0,0,0,.54)" class="border-top">
              
              Implemented
            </div>
            
      </mat-card-content>
  </mat-card>

</div>